<!DOCTYPE html>
<html>
<head>
    <title>Debug - Made by Renato Araujo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="http://semantic-ui.com/stylesheets/docs.css">
</head>
<body id="example" class="theming pushable">
    <div class="main ui intro container" style="margin: 0 auto !important;">
        <div class="ui existing segment rounded">
            <div class="ui top attached label">
                <div class="header">
                    <span class="title">@filepathcontext</span>
                    <em>@linecontext</em>
                </div>
            </div>
            <pre style="margin-bottom: 2rem !important;"><code class="code less">@debugcontext</code></pre>
            <div class="ui bottom attached label">
                @serverurlrequest - @datetimeContext
            </div>
        </div>
    </div>
</body>
</html>